


/* --------------- navbar styles --------------- */
.navbar{
   z-index: 999; 
   .nav-link{
    cursor: pointer;
   }
}

.navbar.nav-scroll {
    background: #fff !important;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: fixed !important;
    top: -100px !important;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    border-radius: 0 !important;
    margin: 0 !important;
}

// ---------- navbar style-4  ----------
.navbar.style-4{
    position: relative;
    z-index: 99;
    padding: 20px 15px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -38px;
    .navbar-brand{
        width: 150px;
        object-fit: contain;
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                position: relative;
                color: #000;
                font-size: 12px;
                font-weight: bold;
                margin: 0 15px;
                &::before{
                    position: absolute;
                    content: "";
                    top: -25px;
                    left: 50%;
                    transform: translateX(-50%) translateY(-20px);
                    width: 55px;
                    height: 30px;
                    background-image: url(../img/icons/nav_icon/active_s4.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    opacity: 0;
                    transition: all 0.3s ease;
                }
                &:hover,
                &.active{
                    color: var(--color-blue4);
                    &::before{
                        opacity: 1;
                        transform: translateX(-50%) translateY(0);
                    }
                }
                .hot{
                    position: absolute;
                    font-size: 8px;
                    padding: 2px 3px;
                    border-radius: 3px;
                    top: -10px;
                    right: 0;
                    text-transform: uppercase;
                }
            }
        }
    }

    .nav-side{
        .search-icon{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #0002;
            color: #000;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}


